;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[metosin/reitit "0.7.0"]
  [org.clojure/data.json "2.5.0"]
  [camel-snake-kebab "0.4.3"]]

 :builds
  {:test
     {:target    :node-test
      :output-to "out/node-tests.js"
      :autorun   true}
   :app
   {:target :node-library
    :output-to "dist/module.js"
    :devtools {
               :reload-strategy :full}
    :exports {:handler router/handler
              :parseFile parser/parse-json-file}}}}
